body{
    font: 20 px arial;
}

.navbar {
    background-color: white;
}

.quem-somos {
    background-color: #5DADE2;
}

.margin {
    padding-top: 10px;
    padding-bottom: 20px;
}

.parceiros {
    background-color: #F0B27A;
}

.serviços {
    background-color: #28B463;
}

.bg-footer {
    background-color:#D7DBDD;
    color: black;
}